/* GLOBAL */

*, *::before, *::after {
  box-sizing: border-box; }



/* BODY */

.container {
    margin: 0;
    padding: 30px 100px;
    background: #fdcb6e;
  }

header {
  padding: 0 20px;
  font-style: italic;
  font-family: "Playfair Display SC", serif;
}

h1 {
   font-size: 42px;
   color: #2d3436;
}

h2 {
  font-size: 32px;
  color: #636e72;
}

.song-text {
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
/* FOOTER */

h5 {
  font-size: 10px;
  font-family: "Quattrocento Sans", sans-serif;
}

h5 a {
  font-weight: bold;
  font-style: italic;
  color: #6c5ce7;
}
